<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My NestJS App</title>
    <!-- Bootstrap CSS cục bộ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
</head>
<body>
    <!-- Top (Header) -->
    {{> top }}

    <!-- Menu (Navbar) -->
    {{> menu }}

    <!-- Content -->
    <main class="container my-4">
        {{{ body }}}
    </main>

    <!-- Footer -->
    {{> footer }}

    <!-- Bootstrap JS cục bộ -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
