<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My NestJS App</title>
    <!-- Bootstrap CSS cục bộ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel='stylesheet' href='/css/toastr.min.css' />
</head>
<script src='/js/jquery.min.js'></script>
<script src='/js/toastr.min.js'></script>
<body data-message='{{message}}' data-message-type='{{messageType}}'>
    <!-- Top (Header) -->
    {{> top }}

    <!-- Menu (Navbar) -->
    {{> menu }}

    <!-- Content -->
    <main class="container my-4">
        {{{ body }}}
    </main>

    <!-- Footer -->
    {{> footer }}

    <!-- Bootstrap JS cục bộ -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src='/js/toastr-handler.js'></script>
    <script src="/js/modal-form-handler.js"></script>
</body>
</html>
